buildspecs
Jenkinsfile
*.tar.gz

*.exe
*.user
src/vibofchain
src/vibofchaind
src/vibofchain-cli
src/vibofchain-tx
src/test/test_vibofchain
src/test/test_vibofchain_fuzzy
src/test/test_vibofchain_hash
src/qt/test/test_vibofchain-qt
.vscode
output.txt
vibofchain-qt.zip

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/vibofchain-config.h
src/config/vibofchain-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist



src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.settings
.cproject
.project
.vscode

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
vibofchain-qt
VibofChain-Qt.app

# Unit-tests
Makefile.test
vibofchain-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_vibofchain.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

/doc/doxygen/

libvibofchainconsensus.pc
contrib/devtools/split-debug.sh
.idea
cmake-build-debug

CMakeLists.txt
configure~
